body{
    /* background-color: #60a3bc !important; */
	/* background: url('../../img/background.jpg'); */
	background: linear-gradient(to top, rgba(246, 65, 65, 0.1),rgba(96, 163, 188, 0.2)), url('../../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(96,163,188,0.2);


	
}
.navmenubar {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
nav {
	margin-top: -250px;
	
}
nav#lista-select{
	height: 400px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
	position: absolute;
	height: 100px;
	width: 200px;
	top: -60px;
	border-radius: 50%;
	/* background: #60a3bc; */
	padding: 3px;
	text-align: center;
}
.brand_logo {
	height: 100px;
	width: 200px;
	border-radius: 50%;
	
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 40px;
}

nav ul li {
	font-size: 40px;
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 8.5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
    text-align: center;
}

nav ul li span {
	color: black;
	mix-blend-mode: hard-light; 
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: #bc3e33;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before {
	transform: scale(12);
}
nav ul a {
    text-decoration: none;
    color: white;
    
}
nav ul a:hover li span{
    color: white;
}
.navbar{
	/* margin: 15px; */
	font-size: 20px;
    position: sticky;
	width: fit-content;
	margin: 0 auto;
	margin-top: 10px;	
    
}
.navbar a{
    float: right;
	margin: 10px;
	color: #bc3e33;
    font-size: 25px;

	
}
span#korisnik{
    font-weight: bold;
}

.section-1 {
    background: #f5f5f5;
}

.section-2 {
    background: #F1F1F1;
}

.section-3 {
    background: #EAEAEA;
}

.section-4 {
    background: #E5E5E5;
}
.container img {
	padding: 0;
}
.navbar-nav.ml-auto.navbar-right button{
	margin-right: 10px;
}
.navbar-nav.ml-auto.navbar-right a button{
	color: white;
}
button.dodaj{
	margin-left: 10px;
}
span.vase_misli{
	color: #262525;
	font-size: 18px;
}
.navbar .container img.navbar-brand{
	margin-left: 10px;
}